{% extends "layout.html" %}
{% block content %}
<div class="bg-light rounded-lg p-4">
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.disaster_type.label(class="form-control-label") }}
                {% if form.disaster_type.errors %}
                    {{ form.disaster_type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.disaster_type.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.disaster_type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" onclick="getlocation()" type="button">Get current location</button>
            </div>
            <div class="form-group">
                {{ form.longitude.label(class="form-control-label") }}
                {% if form.longitude.errors %}
                    {{ form.longitude(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.longitude.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.longitude(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.latitude.label(class="form-control-label") }}
                {% if form.latitude.errors %}
                    {{ form.latitude(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.latitude.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.latitude(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.area.label(class="form-control-label") }}
                {% if form.area.errors %}
                    {{ form.area(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.area.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.area(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.floor.label(class="form-control-label") }}
                {% if form.floor.errors %}
                    {{ form.floor(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.floor.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.floor(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.landscape.label(class="form-control-label") }}
                {% if form.landscape.errors %}
                    {{ form.landscape(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.landscape.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.landscape(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv8GHVQSr2TfpaQw42sj9iUXTg3uC68wU"></script>
<script>
    var long= document.getElementById('longitude');
    var lat= document.getElementById('latitude')
     function getlocation()
     {
         console.log('getting location');
      if(navigator.geolocation){
       navigator.geolocation.getCurrentPosition(showPosition);
       console.log('passed');
      }
      else
      {
        console.log('failed');
        lat.value=0; 
        long.value=0;
      }
     }
     function showPosition(position){
         console.log(position.coords.latitude);
      lat.value=position.coords.latitude; 
      long.value=position.coords.longitude;

    //   var locAPI ="http://maps.googleapis.com/maps/api/geocode/json?latlng="+position.coords.latitude+","+position.coords.longitude+"&sensor=true"
    //     $.get({
    //       url: locAPI,
    //       success: function(data){
    //         x.innerHTML = data.results[0].address_components[4].long_name;
    //         x.innerHTML = data.results[0].address_components[5].long_name;
    //         x.innerHTML = data.results[0].address_components[6].long_name;
    //       }
    //     });
     }
</script>
{% endblock content %}
