{% extends "layout.html" %}
{% block content %}
    <div class="bg-light rounded-lg p-4">
    <h1>Make Donation</h1>
    <a href="https://p-y.tm/F-4gM41" target="_blank" class="btn btn-outline-secondary">Donate here</a>
    </div>
{% endblock content %}
