<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DisasterAid</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/logo.jpg') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-md bg-light navbar-light">
      <div class="container">  
      <!-- Brand -->
        <a class="navbar-brand" href="{{ url_for('main.home') }}">DisasterAid</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('main.donate') }}">Donate</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Post</a>
                  <div class="dropdown-menu">
      
                    <a class="dropdown-item" style="background-opacity:0.8" href="{{ url_for('posts.new_post') }}">New Post</a>
                    <a class="dropdown-item" href="{{ url_for('users.user_posts',username=current_user.username) }}">My Posts</a>
                    {% if current_user.user_type=='INTERMEDIATOR' or current_user.user_type=='AUTHORITY' %}
                    <a class="dropdown-item" href="{{ url_for('posts.approved_post') }}">Approved Posts</a>
                    {% endif %}
                      {% if current_user.user_type=='INTERMEDIATOR' %}
                      
                    <a class="dropdown-item" href="{{ url_for('posts.all_post') }}">All Posts</a>
                    <a class="dropdown-item" href="{{ url_for('posts.awaited_post') }}">Awaited Posts</a>
                    <a class="dropdown-item" href="{{ url_for('posts.rejected_post') }}">Rejected Posts</a>
                    {% endif %}
                  </div>
                </li>
                {% if current_user.user_type=='AUTHORITY' %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.register') }}">Register</a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('users.account') }}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                      </li>
      
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('posts.approved_post') }}">Posts</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('users.register') }}">Register</a>
                </li>
              {% endif %} 
          </ul>
        </div>
      </div> 
      </nav>
  <!--/ Nav End /-->
  <main>
    <div class=" container pt-4">
      {% block content %}{% endblock %}
    </div>
  </main>
  

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/popper/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/counterup/jquery.waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/counterup/jquery.counterup.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/typed/typed.min.js') }}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{{ url_for('static', filename='contactform/contactform.js') }}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>
</html>
<style>
  .navbar-light .navbar-nav .nav-link {
    color: #0078ff;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: .5rem;
    padding-left: .5rem;
    display: block;
    padding: .5rem 1rem;
}
.navbar-light .navbar-brand {
    color: #0078ff;
    font-size: 1.6rem;
    font-weight: 600;
}
body{
        background-image: url('{{ url_for('static',filename='img/bg-01.jpg') }}');
        background-size: cover;
    }
    .login100-form-btn{
        cursor: pointer;
    }
</style>