{% extends "layout.html" %}
{% block content %}
<div>
		<div class="container-login100" style="background-image: url(''{{ url_for('static', filename='img/bg-01.jpg') }}');">
			<div class="wrap-login100 p-l-55 p-r-55 pt-5 pb-5">
				<form action="" method="post" class="login100-form validate-form" >
                        {{ form.hidden_tag() }}
					<span class="login100-form-title p-b-49">
						Login
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is required">
						<span class="label-input100">Username</span>
						{% if form.email.errors %}
                    {{ form.email(class="input100 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="input100") }}
                {% endif %}
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Password</span>
						{% if form.password.errors %}
                    {{ form.password(class="input100 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="input100") }}
                {% endif %}
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					<div class="text-right p-t-8 p-b-31">
						<a href="{{ url_for('users.reset_request') }}">
							Forgot password?
						</a>
					</div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
                            {{ form.submit(class="login100-form-btn btn-primary") }}
						</div>
					</div>

					<div class="flex-col-c pt-5">
						<span class="txt1 pb-3">
							Need an account?
						</span>

						<a href="{{ url_for('users.register') }}" class="txt2">
							Sign Up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock content %}