{% extends "layout.html" %}
{% block content %}
<div class="bg-light rounded-lg p-4">
    <article class="media content-section">
        <img class="rounded-circle article-img mr-2" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        <br>
        <div class="media-body">
            <a href="{{ url_for('users.user_posts', username=post.author.username) }}"><h2>By  {{ post.author.username }}</h2></a>
          <div class="article-metadata">
            {% if ((current_user.user_type == 'INTERMEDIATOR') and (post.status=='AWAITED')) %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.approve_post', post_id=post.id) }}">Approve</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#rejectModal">Reject</button>
              </div>
            {% else %}
              <div class="m-1">
                  <span class="btn btn-outline-primary">{{ post.status }}</span>
              </div>
            {% endif %}
          </div>
    
<div class="card w-100" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='post_image/' + post.image_file) }}" alt="Card image cap">
    <div class="card-body">
        <a href="{{ url_for('posts.post', post_id=post.id) }}"><h5 class="card-title">{{ post.title }}</h5></a>
        <h6 class="card-subtitle mb-2 text-muted">&#x20b9; {{ post.cost|round(2, 'floor') }}</h6>
        
        <p class="card-text">{{ post.content }}</p>
        <div id="map"></div>
      </div>
    <div class="card-footer">
            <small class="text-muted">Posted at: {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
</div>
</div>


        <style>
            /* Set the size of the div element that contains the map */
            #map {
              height: 400px;  /* The height is 400 pixels */
              width: 100%;  /* The width is the width of the web page */
             }
          </style>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: {{ post.latitude }}, lng: {{ post.longitude }} };
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 10, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <script async defer
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAv8GHVQSr2TfpaQw42sj9iUXTg3uC68wU&callback=initMap">
    </script>





      <!-- <h2 class="article-title"> post.title </h2>
      <p class="article-content"> post.content </p> -->
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Reject Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.reject_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Reject">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
