{% extends "layout.html" %}
{% block content %}
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

				<form action="" method="post" class="login100-form validate-form" >
					<span class="login100-form-title p-b-49">
						Signup
					</span>
                    {{ form.hidden_tag() }}
					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is required">
                        <span class="label-input100">Userame</span>
                        {% if form.username.errors %}
                    {{ form.username(class="input100 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="input100") }}
                {% endif %}
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is required">
                            <span class="label-input100">E-mail</span>
                            {% if form.email.errors %}
                        {{ form.email(class="input100 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="input100") }}
                    {% endif %}
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is required">
                                <span class="label-input100">Password</span>
                                {% if form.password.errors %}
                            {{ form.password(class="input100 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="input100") }}
                        {% endif %}
                                <span class="focus-input100" data-symbol="&#xf190;"></span>
                            </div>

                            <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is required">
                                    <span class="label-input100">Confirm Password</span>
                                    {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="input100 is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password(class="input100") }}
                            {% endif %}
                                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                                </div>

                                <div class="wrap-input100 validate-input m-b-23 {% if not current_user.is_authenticated %}d-none{% endif %}" data-validate = "Username is required">
                                        <span class="label-input100">User Type</span>
                                        {% if form.user_type.errors %}
                                    {{ form.user_type(class="input100 is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.user_type.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.user_type(class="input100") }}
                                {% endif %}
                                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                                    </div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            {{ form.submit(class="login100-form-btn btn-primary") }}
						</div>
                    </div>
                    
                    <div class="flex-col-c pt-5">
                            <span class="txt1 pb-3">
                                Already have an account?
                            </span>
    
                            <a href="{{ url_for('users.login') }}" class="txt2">
                                Login here
                            </a>



			</div>
				</form>
			</div>
		</div>
	</div>

{% endblock content %}
