{% extends "layout.html" %}
{% block content %}
<div class="bg-light rounded-lg p-4">
    <h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h1>
    <div class="card-deck mb-3">
        {% for post in posts.items %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ url_for('static', filename='post_image/' + post.image_file) }}" alt="Card image cap">
            <div class="card-body">
                <a href="{{ url_for('posts.post', post_id=post.id) }}"><h5 class="card-title">{{ post.title }}</h5></a>
                <h6 class="card-subtitle mb-2 text-muted">&#x20b9; {{ post.cost|round(2, 'floor') }}</h6>
                <p class="card-text">{{ post.content }}</p>
                By <a href="{{ url_for('users.user_posts', username=post.author.username) }}" class="card-link">{{ post.author.username }}</a>
            </div>
            <div class="card-footer">
                    <small class="text-muted">Posted at: {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                  </div>
        </div>
        {% endfor %}
    </div>
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
    </div>
{% endblock content %}
